<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alert Messages</title>
</head>
<body>

<div th:fragment="alert(type, message)">
    <div th:if="${message != null}" class="alert" th:classappend="${type}">
        <div th:if="${type == 'success'}" class="alert alert-success" id="successAlert" th:text="${message}"></div>
        <div th:if="${type == 'error'}" class="alert alert-error" id="errorAlert" th:text="${message}"></div>
    </div>
</div>

</body>
</html>