<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{base :: parent(
        ~{:: #content},
        ~{:: title},
        ~{:: script}
        )}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-Up | Smart Contact Manager</title>
</head>
<body>
<section class="access"  id="content">
    <div class="access-container flex-center">
        <h2>Sign-Up for SCM<span>.</span></h2>
        <p>
            Sign up to start managing your contacts easily and securely in one place,
            anytime and anywhere.
        </p>

        <form th:action="@{/register-form}" method="post" class="access-form" th:object="${userForm}">
            <div class="single-IO">
                <input th:field="*{name}" type="text" name="user_name" id="name" placeholder="Full Name"
                        autocomplete="off" required>
            </div>

            <div class="double-IO">
                <input th:field="*{email}" type="email" name="user_email" id="email" placeholder="Email-ID"
                        autocomplete="off" required>
                <input th:field="*{password}" type="password" name="user_password" id="password" placeholder="Password"
                        autocomplete="off" required>
            </div>

            <div class="double-IO">

                    <select th:field="*{gender}" name="user_gender" id="gender" required>
                        <option value="" th:text="'Select Gender'" disabled
                                th:if="${userForm.gender == null || #strings.isEmpty(userForm.gender)}">
                        </option>
                        <option th:each="gender : ${genders}" th:value="${gender}" th:text="${gender}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="error"></div>

                <input th:field="*{phoneNumber}" type="tel" name="user_phone_no" id="phone" placeholder="Mobile Number"
                        pattern="[0-9]{10}" autocomplete="tel" required>
            </div>

            <div class="double-IO">

                <select name="user_region" id="region" th:field="*{region}" required>
                    <option value="" th:text="'Select Region'"  disabled selected
                            th:if="${userForm.region == null || #strings.isEmpty(userForm.region)}"></option>
                    <option th:each="regions : ${regions}" th:value="${regions}" th:text="${regions}"></option>
                </select>

                <select th:field="*{role}" name="user_role" id="role" required>
                    <option value="" th:text="'Select Role'" disabled selected
                            th:if="${userForm.role == null || #strings.isEmpty(userForm.role)}"></option>
                    <option th:each="roles : ${roles}" th:value="${roles}" th:text="${roles}"></option>
                </select>
                <div th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="error"></div>
            </div>

            <div class="single-IO">
                    <textarea th:field="*{address}" name="user_address" id="address" rows="5"
                              placeholder="Your Address" autocomplete="off" required></textarea>
            </div>

            <div class="signUp-Btns">
                <button type="submit" class="btn">Sign-Up</button>
<!--                <button type="reset" class="btn reset">Reset</button>-->
            </div>
            <br>
            <!-- Display success message -->
            <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
            <!-- Display error message -->
            <div th:if="${error}" class="alert alert-error" th:text="${error}"></div>

            <div class="hr"></div>

            <div class="social-auth-btns">
                <button type="button" class="auth">Sign-up with Google</button>
                <span>OR</span>
                <button type="button" class="auth">Sign-up with GitHub</button>
            </div>

        </form>
    </div>
</section>
<script>
    console.log("Welcome to Sign-Up Page");
</script>

</body>
</html>