<!doctype html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{base :: parent(
        ~{:: #content},
        ~{:: title},
        ~{:: script}
        )}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-Up | Smart Contact Manager</title>
</head>
<body>
<section class="access" id="content">
    <div class="access-container flex-center">
        <h2>Sign-Up for SCM<span>.</span></h2>
        <p>
            Sign up to start managing your contacts easily and securely in one place,
            anytime and anywhere.
        </p>

        <form
                th:action="@{/register-form}"
                method="post" class="access-form"
                th:object="${userForm}"
                novalidate
        >
            <div class="single-IO">
                <input th:field="*{name}" type="text" name="user_name" id="name" placeholder="Full Name"
                       autocomplete="off" required>
                <!-- Name field errors -->
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
            </div>

            <div class="double-IO">
                <div>
                    <input th:field="*{email}" type="email" name="user_email" id="email" placeholder="Email-ID"
                           autocomplete="off" required>
                    <!-- Email field errors -->
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
                </div>
                <div>
                    <input th:field="*{password}" type="password" name="user_password" id="password" placeholder="Password"
                           autocomplete="off" required>
<!--                     Password field errors-->
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
                </div>
            </div>

            <div class="double-IO">
                <div>
                    <select th:field="*{gender}" name="user_gender" id="gender" required>
                        <option value="" th:text="'Select Gender'" disabled
                                th:if="${userForm.gender == null || #strings.isEmpty(userForm.gender)}">
                        </option>
                        <option th:each="gender : ${genders}" th:value="${gender}" th:text="${gender}"></option>
                    </select>
                    <!-- Gender field errors -->
                    <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="error"></span>
                </div>

                <div>
                    <input th:field="*{phoneNumber}" type="tel" name="user_phone_no" id="phone" placeholder="Mobile Number"
                           autocomplete="tel" required>
                    <!-- Phone Number field errors -->
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error"></span>
                </div>
            </div>

            <div class="double-IO">
                <div>
                    <select name="user_region" id="region" th:field="*{region}" required>
                        <option value="" th:text="'Select Region'" disabled
                                th:if="${userForm.region == null || #strings.isEmpty(userForm.region)}"></option>
                        <option th:each="regions : ${regions}" th:value="${regions}" th:text="${regions}"></option>
                    </select>
                    <!-- Region field errors -->
                    <span th:if="${#fields.hasErrors('region')}" th:errors="*{region}" class="error"></span>
                </div>

                <div>
                    <select th:field="*{role}" name="user_role" id="role" required>
                        <option value="" th:text="'Select Role'" disabled
                                th:if="${userForm.role == null || #strings.isEmpty(userForm.role)}"></option>
                        <option th:each="roles : ${roles}" th:value="${roles}" th:text="${roles}"></option>
                    </select>
                    <!-- Role field errors -->
                    <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="error"></span>
                </div>
            </div>

            <div class="single-IO">
                <textarea th:field="*{address}" name="user_address" id="address" rows="5"
                          placeholder="Your Address" autocomplete="off" required></textarea>
                <!-- Address field errors -->
                <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error"></span>
            </div>

            <div class="signUp-Btns">
                <button type="submit" class="btn">Sign-Up</button>
                <!--
                <button type="reset" class="btn reset">Reset</button>
                -->
            </div>
            <br>
            <!-- Display success message -->
            <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
            <!-- Display error message -->
            <div th:if="${errorMsg}" class="alert alert-error" th:text="${errorMsg}"></div>

            <div class="hr"></div>

            <div class="social-auth-btns">
                <button type="button" class="auth">Sign-up with Google</button>
                <span>OR</span>
                <button type="button" class="auth">Sign-up with GitHub</button>
            </div>

        </form>
    </div>
</section>
<script>
    console.log("Welcome to Sign-Up Page");
</script>

</body>
</html>
